{% extends 'base.html.twig' %}

{% block title %}{{ 'editProfil'|trans }}{% endblock %}

{% block body %}
     <div class="flex justify-center items-center mt-6">
        <div class="w-1/4 px-2 pt-4 pb-4">
            <h1 class="text-2xl font-semibold mb-4 text-center pt-10">{{ 'editProfil'|trans }}</h1>

            {{ form_start(form, {'attr': {'class': 'bg-white shadow-md rounded px-4 pt-4 pb-4 mb-4 dark-mode-card'}}) }}
                <div class="mb-4">
                    {{ form_label(form.nom, 'Nom', {'label_attr': { 'class': 'block text-gray-700 text-sm font-bold mb-2 label' }}) }}
                    {{ form_widget(form.nom, {'attr': { 'class': 'shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark-mode-input' }}) }}
                </div>
                <div class="mb-4">
                    {{ form_label(form.prenom, 'Prénom', {'label_attr': { 'class': 'block text-gray-700 text-sm font-bold mb-2 label' }}) }}
                    {{ form_widget(form.prenom, {'attr': { 'class': 'shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark-mode-input' }}) }}
                </div>
                <div class="mb-6">
                    {{ form_label(form.email, 'Email', {'label_attr': { 'class': 'block text-gray-700 text-sm font-bold mb-2 label' }}) }}
                    {{ form_widget(form.email, {'attr': { 'class': 'shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark-mode-input' }}) }}
                </div>
                <div class="flex items-center justify-center">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline dark-mode-button" type="submit">
                        {{ 'update'|trans }}
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
