{% extends 'base.html.twig' %}

{% block title %}Modifier Profil{% endblock %}

{% block body %}
     <div class="flex justify-center items-center mt-6">
        <div class="w-1/4 px-2 pt-4 pb-4">
            <h1 class="text-2xl font-semibold mb-4 text-center pt-10">Modifier Profil</h1>

            {{ form_start(form, {'attr': {'class': 'bg-white shadow-md rounded px-4 pt-4 pb-4 mb-4 dark-mode-card'}}) }}
                <div class="mb-4">
                    {{ form_label(form.nom, 'Nom', {'label_attr': { 'class': 'block text-gray-700 text-sm font-bold mb-2 label' }}) }}
                    {{ form_widget(form.nom, {'attr': { 'class': 'shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark-mode-input' }}) }}
                </div>
                <div class="mb-4">
                    {{ form_label(form.prenom, 'Prénom', {'label_attr': { 'class': 'block text-gray-700 text-sm font-bold mb-2 label' }}) }}
                    {{ form_widget(form.prenom, {'attr': { 'class': 'shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark-mode-input' }}) }}
                </div>
                <div class="mb-6">
                    {{ form_label(form.email, 'Email', {'label_attr': { 'class': 'block text-gray-700 text-sm font-bold mb-2 label' }}) }}
                    {{ form_widget(form.email, {'attr': { 'class': 'shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark-mode-input' }}) }}
                </div>
                <div class="flex items-center justify-center">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline dark-mode-button" type="submit">
                        Mettre à jour
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
        <div class="w-1/2 px-4 flex flex-wrap" style="margin-top: 3rem;">
            {% for annonce in annonces %}
            <div style="flex: 0 0 40%; margin: 1%; margin-top: 5%; margin-bottom: -3%; box-sizing: border-box;">
                <div class="bg-white rounded-xl shadow-md overflow-hidden m-2 dark-mode-card">
                    <div class="flex flex-col justify-between h-full">
                        <div class="p-8">
                            <p class="mt-2 text-gray-500 dark-mode-card"><i class="fas fa-map-marker-alt"></i> Départ : {{ annonce.villeDepart }}</p>
                            <p class="mt-2 text-gray-500 dark-mode-card"><i class="fas fa-map-marker-alt"></i> Arrivée : {{ annonce.villeArrive }}</p>
                            <p class="mt-2 text-gray-500 dark-mode-card"><i class="fa-solid fa-calendar-days"></i> Date départ : {{ annonce.dateDepart|date('d/m/Y') }}</p>
                            <p class="mt-2 text-gray-500 dark-mode-card"><i class="fa-regular fa-clock"></i> Heure départ : {{ annonce.heureDepart|date('H:i') }}</p>
                            <p class="mt-2 text-gray-500 dark-mode-card"><i class="fas fa-car"></i> {{ annonce.vehicule }}</p>
                            <p class="mt-2 text-gray-500 dark-mode-card"> Prix : {{ annonce.prix }} euros</p>
                            <form method="post" action="{{ path('annonce_delete', {id: annonce.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette annonce?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.id) }}">
                                <button style="margin-top: 3%;" class="flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500  dark-mode-button">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
