{% extends 'base.html.twig' %}

{% block title %}{{ 'duplicate'|trans }}{% endblock %}

{% block body %}
    <div class="min-h-screen py-6 flex flex-col justify-center sm:py-12">
        <div class="relative py-3 sm:max-w-xl sm:mx-auto">
            <div class="absolute inset-0 bg-gradient-to-r from-blue-400 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
            <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20 dark-mode-header">
                <h1 class="text-2xl font-semibold text-gray-900 label">{{ 'duplicate'|trans }}</h1>

                {{ form_start(form, {'attr': {'class': 'mt-8 space-y-6'}}) }}
                    <div class="relative">
                        {{ form_label(form.villeDepart, 'startCity'|trans, {'label_attr': {'class': 'font-medium text-gray-900 label'}}) }}
                        {{ form_widget(form.villeDepart, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm  dark:border-gray-600 dark-mode-input'}}) }}
                    </div>

                    <div class="relative">
                        {{ form_label(form.villeArrive, 'arrivalCity'|trans, {'label_attr': {'class': 'font-medium text-gray-900 label'}}) }}
                        {{ form_widget(form.villeArrive, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm  dark:border-gray-600 dark-mode-input'}}) }}
                    </div>

                    <div class="relative">
                        {{ form_label(form.vehicule, 'car'|trans, {'label_attr': {'class': 'font-medium text-gray-900 label'}}) }}
                        {{ form_widget(form.vehicule, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm  dark:border-gray-600 dark-mode-input'}}) }}
                    </div>

                    <div class="relative">
                        {{ form_label(form.prix, 'price'|trans, {'label_attr': {'class': 'font-medium text-gray-900 label'}}) }}
                        {{ form_widget(form.prix, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm  dark:border-gray-600 dark-mode-input'}}) }}
                    </div>

                    <div class="relative">
                        {{ form_label(form.dateDepart, 'dateStart'|trans, {'label_attr': {'class': 'font-medium text-gray-900 label'}}) }}
                        {{ form_widget(form.dateDepart, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm  dark:border-gray-600 dark-mode-input'}}) }}
                    </div>

                    <div class="relative">
                        {{ form_label(form.heureDepart, 'hourStart'|trans, {'label_attr': {'class': 'font-medium text-gray-900 label'}}) }}
                        {{ form_widget(form.heureDepart, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm  dark:border-gray-600 dark-mode-input'}}) }}
                    </div>
                    <div class="flex justify-center mt-4">
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline dark-mode-button">
                            {{ 'duplicate'|trans }}
                        </button>
                    </div>
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
