{% extends 'base.html.twig' %}

{% block title %}{{ 'addComment'|trans }}{% endblock %}

{% block body %}
    <div class="mx-auto px-4" style="padding-top:10%">
        {{ form_start(form, {'attr': {'class': 'bg-gray-100 p-4 rounded-lg mb-4 shadow-md dark-mode-card'}}) }}
            <div class="block">
                {{ form_label(form.contenu, null, {'label_attr': {'class': 'font-bold mb-2 text-gray-700 label'}}) }}
                {{ form_widget(form.contenu, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark-mode-input'}}) }}
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded dark-mode-button" style="margin-bottom:5%" >{{ 'add_Comment'|trans }}</button>
        {{ form_end(form) }}
        <h2 class="font-bold text-2xl mb-4" style="margin-top:2%">{{ 'comments'|trans }}:</h2>
        {% for commentaire in reservation.getAnnonce().getCommentaires() %}
            <div class="bg-gray-100 p-4 rounded-lg mb-4 shadow-md dark-mode-card">
                <strong class="text-lg">{{ commentaire.getAuteur().getUsername() }}</strong>
                <p class="mt-2">{{ commentaire.getContenu() }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
